.select__list-footer {
  color: #203991;
  font-weight: 700;
}
.select__item--detail{
  display: inline-block;
  vertical-align: middle;
  p{
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }
}