@import "../../../assets/scss/utils/_variables.scss";
.lucky-draw__description--turns {
  color: #00b391;
  font-weight: 700;
}

.lucky-draw__description--no-turns {
  color: #dd425a;
  font-weight: 700;
}

.lucky-draw__btn {
  &.lucky-draw__btn--play-now {
    border-radius: 8px;
    background-color: $primary-color;
    color: #fff;
    font-weight: bold;
  }
  &.lucky-draw__btn--my-history {
    .component_btn-text {
      text-decoration: underline;
      font-weight: bold;
    }
    &:hover {
      border-radius: 8px;
      background-color: #fbe5ea;
      .component_btn-text {
        color: $primary-color;
      }
    }
  }
}
